

html,
body,
header,
.view {
    height: 100%;

}
html {
) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



@media (max-width: 740px) {
    html,
    body,
    header,
    .view {
        height: 1100px;
    }
}
@media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .view {
        height: 700px;
    }
}

.top-nav-collapse {
    background-color: #FFCE7A!important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: white !important;
    }
}

h6 {
    line-height: 1.7;
}

.nav-item {
    margin: 25px;
}
.carousel-inner img{
    height: 100%;
    width: 100%;
}
